<li id="comment_<%=comment.id %>">
  <%= comment.body %>
  <%= link_to [comment.post, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
      <i class="tiny material-icons">delete</i>
  <% end %>
</li>