<div class="center">
  <h1 class="grey-text lighten-2">POST</h1>



  <ul class="collapsible">

  <% @posts.each do |post| %>

          <li>
            <div class="collapsible-header blue lighten-5"><i class="mdi-av-web"></i><%= post.title %>
              <%= link_to post, class:"show-button" do %>
                  <i class="small material-icons">play_arrow</i>
              <% end %>
            </div>

            <div class="collapsible-body"><p class="flow-text"><%= simple_format(post.content) %></p>
            </div>
          </li>
  <% end %>
  </ul>





  <a href="/posts/new"id="add-button"class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="material-icons">mode_edit</i></a>

</div>
